/* *{
  outline: red dashed 1px;
} */



main{
  min-height: 100vh;
  flex-grow: 1;

}

h3{
  padding: 0.2em;
}
.rating span{
  margin: 0.1em;
}

.app {
  display: flex;
  flex-flow: column nowrap;
  min-height: 1000vh; 
  outline: red dashed 1px;
}


/* opis, specyfikacja, akcesoria, opinie */
.details .nav-link {
  color: rgb(0, 0, 0);
}

.details .nav-link:hover {
  color: rgb(173, 107, 45);
}

.test a{
  color: rgb(99, 98, 98);
}

.ms-auto a{
  color: rgb(99, 98, 98);
}

/* search form */
.my-form {
  display: flex;
  align-items: center;
}

.my-form .search-form {
  flex-grow: 1;
  margin-right: 10px;

}

.my-form .btn {
  margin-top: -15px;
}

/*social icons"*/

ul {
  list-style-type: none; 
  padding: 0; 
  display: flex; 
  gap: 10px;
  margin-left: 25%;
}

/* kategorie  header*/
.header-up{
  background: rgb(255, 255, 255);
}
.test {

  display: flex;
  width: 100%;
  text-align: center;
}

.test > * {
  margin: 0 0px;
}

.Navbar .navbar-nav {
  white-space: nowrap;
}

.account .nav-link {
  color: dark;
}

.categories-dropdown {
  color: rgb(0, 0, 0);
  
}

/* nazwa kategorii - produkt */
.category-name {
  width: 100%;
  height: 200px;
  border: 1px solid #e911a146;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -30px;
}

.category-name h1 {
  font-size: 24px;
  color: #333;
  margin-top: 10px;
}



/*filter menu */

.brandlist {
  margin-left: -5%;
  display:block 
}

.product-card-filter {
  margin-top: -30px;
}

/* profil użytkownika */

.nav-tabs {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
.profile-form {
  background-color: #e2e1e1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(199, 16, 16, 0.1);
  display: grid;
  padding-left: 2022px;
  align-items: center;
}

.profile-form h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  align-items: center;
}

.form-label {
  font-weight: bold;
  color: #555;
}

.form-control {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 15px;
}

/* selected category */
li.selected {
  background-color: #e2e1e1;
  
}

.back-button {
  display: flex;
  justify-content: flex-start;
  margin-top: -30px; 
  margin-bottom: 20px;
}

/* najnowsze produkty */
.product-card {
  background-color: #e911a146;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.product-card:hover {
  box-shadow: 0 4px 6px rgba(211, 13, 13, 0.2);
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-name {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
  text-decoration: none !important;
}

.product-price {
  font-size: 1.2rem;
  color: #050505;
}

/* newsletter */
.home-newsletter {
  padding: 50px 0;
  margin-top: -7%;
}

.home-newsletter .single {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

.home-newsletter .single h2 {
  font-size: 22px;
  color: rgb(77, 76, 76);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.home-newsletter .single .form-control {
  height: 51px;
  background: rgb(104, 72, 72);
  border-color: transparent;
  border-radius: 20px 0 0 20px;
  color: rgb(245, 242, 242);
}

.home-newsletter .single .form-control:focus {
  box-shadow: none;
  border-color: #243c4f;
}

.home-newsletter .single .btn {
  min-height: 50px;
  border-radius: 0 10px 10px 0;
  background: rgb(116, 114, 114);
  color: #242323;
}

/* step link */
.step-item {
  flex: 1;
  text-align: center;
}
.step-item:last-child {
  margin-right: 12px;
}

/* admin panel */

/* userlist */
.admin-userlist-title{
  margin-top: 20px;
  border: 1px solid rgb(77, 76, 76);
  padding: 12px !important; 
  text-align: center;
}
.admin-user-search {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 15px;
}

.admin-user-search {
  flex-grow: 1;
  margin-right: 10px;

}

.admin-user-search .btn {
  margin-top: -15px;
  margin-left: 10px;
}

/* products list */
.admin-productlist-title{
  margin-top: 20px;
  border: 1px solid rgb(77, 76, 76);
  padding: 12px !important; 
  text-align: center;
}
.admin-product-search {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 15px;
}

.admin-product-search {
  flex-grow: 1;
  margin-right: 10px;

}

.admin-product-search .btn {
  margin-top: -15px;
  margin-left: 10px;
}



/* admin panel górny */
.admin-panel-userlist{
  color: white !important; 
  border: 1px solid white;
  padding: 12px !important; 
  transition: background-color 0.3s;
}
.admin-panel-userlist:hover {
  background-color: rgb(145, 145, 150); 
  cursor: pointer; 
}

.admin-panel-products-list{
  color: white !important; 
  border: 1px solid white;
  padding: 12px !important; 
  transition: background-color 0.3s;
}

.admin-panel-products-list:hover {
  background-color: rgb(145, 145, 150); 
  cursor: pointer; 
}

.admin-panel-orders-list{
  color: white !important; 
  border: 1px solid white;
  padding: 12px !important; 
  transition: background-color 0.3s;
  margin-right: auto;
}

.admin-panel-orders-list:hover {
  background-color: rgb(145, 145, 150); 
  cursor: pointer; 
}



.horizontal-slider {
  width: 100%;
  height: 25px;
  background: #efefef;
  outline: none;
}

.thumb {
  width: 25px;
  height: 25px;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.track {
  top: 10px;
  bottom: 10px;
  background: #4286f4; 
  height: 5px;
  border-radius: 5px;
}


/* mobile */
@media (max-width: 867px) {
  .myshop {
    display: block;
    margin-left: 15%;
    margin-bottom: 20px;
  }
  .my-class{
  margin-left: 70px;
 }
 .categories{
  margin-top: -20px;
 }
 .carousel{
  margin-top: -35px;
  margin-bottom: 20px;
 }
 .img-fluid{
  margin-top: -100px;
  margin-bottom: 20px;
 }
 .logo{
  width: 40%;
  height: 40%;
  margin-left: auto;
  margin-top: 20%;
 }

 .order-item-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-item-image img {
  max-width: 60px;
  height: auto;
  margin-top:20px;
}

.order-item-details {
  display: flex;
  align-items: center;
}

.order-item-name {
  text-decoration: none;
  text-align: center;
  color: #000000;
  font-size: 1.2rem;
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.order-item-price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
}

}
