
main{
  min-height: 100vh;
  flex-grow: 1;
}

h3{
  padding: 0.2em;
}
.rating span{
  margin: 0.1em;
}

.app {
  display: flex;
  flex-flow: column nowrap;
  min-height: 1000vh; /* or the minimum height of your content */
}


/* opis, specyfikacja, akcesoria, opinie */
.details .nav-link {
  color: rgb(0, 0, 0);
}

.details .nav-link:hover {
  color: rgb(173, 107, 45);
}

.test a{
  color: rgb(99, 98, 98);
}

.ms-auto a{
  color: rgb(99, 98, 98);
}



/* kategorie */
.test {

  display: flex;
  width: 100%;
  text-align: center;
}

.test > * {
  margin: 0 10px;
}

.Navbar .navbar-nav {
  white-space: nowrap;
}

.account .nav-link {
  color: dark;
}



/* najnowsze produkty */


/* mobile */
@media (max-width: 576px) {
  .myshop {
    display: block;
    margin-left: 35%;
    margin-bottom: 20px;
  }
  .my-class{
  margin-left: 50px;
 }
 .categories{
  margin-top: -20px;
 }
 .carousel{
  margin-top: -35px;
  margin-bottom: 20px;
 }
}



